@font-face {
	font-family: "Nunito";
    font-weight: 400;
	src: url("../fonts/Nunito-Regular/Nunito-Regular.woff2"),
	     url("../fonts/Nunito-Regular/Nunito-Regular.woff"),
         url("../fonts/Nunito-Regular/Nunito-Regular.ttf");
}

@font-face {
	font-family: "Nunito";
    font-weight: 500;
    src: url("../fonts/Nunito-Medium/Nunito-Medium.woff2"),
         url("../fonts/Nunito-Medium/Nunito-Medium.woff"),
         url("../fonts/Nunito-Medium/Nunito-Medium.ttf");
}

@font-face {
	font-family: "Nunito";
    font-weight: 700;
    src: url("../fonts/Nunito-Bold/Nunito-Bold.woff2"),
         url("../fonts/Nunito-Bold/Nunito-Bold.woff"),
         url("../fonts/Nunito-Bold/Nunito-Bold.ttf");
}

@font-face {
	font-family: "Nunito";
    font-weight: 600;
    src: url("../fonts/Nunito-SemiBold/Nunito-SemiBold.woff2"),
         url("../fonts/Nunito-SemiBold/Nunito-SemiBold.woff"),
         url("../fonts/Nunito-SemiBold/Nunito-SemiBold.ttf");
}